# Assignment

## Connecting to Database

In [11]:
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras

# Useful functions

def pgconnect():
    # please replace <your_unikey> and <your_SID> with your own details
    YOUR_UNIKEY = 'mngu3698'
    YOUR_PW     = '490503902'
    DB_LOGIN    = 'y20s1d2x01_'+ YOUR_UNIKEY

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+DB_LOGIN + "?dbname=covid", echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

def pgquery( conn, sqlcmd, args=None, silent=False ):
    """ utility function to execute some SQL query statement
    can take optional arguments to fill in (dictionary)
    will print out on screen the result set of the query
    error and transaction handling built-in """
    retdf = pd.DataFrame()
    retval = False
    try:
        if args is None:
            retdf = pd.read_sql_query(sqlcmd,conn)
        else:
            retdf = pd.read_sql_query(sqlcmd,conn,params=args)
        if silent == False:
            print(retdf.shape)
            print(retdf.to_string())
        retval = True
    except Exception as e:
        if silent == False:
            print("db read error: ")
            print(e)
    return retval,retdf

In [12]:
# Connecting to database
db,conn = pgconnect()
# conn.execute("SET SCHEMA 'covid'")
# conn.execute("SET search_path TO covid")

unable to connect to the database
you can't specify both 'database' and 'dbname' arguments

UnboundLocalError: local variable 'conn' referenced before assignment

## Task 1: Data Integration and Database Generation

### Creating Tables

In [ ]:
# use covid.<table> to refer to the covid schema
statistical_areas_table = """CREATE TABLE covid.statistical_areas (
                area_id INTEGER PRIMARY KEY,
                area_name VARCHAR(50) , 
                parent_area_id INTEGER
            );"""

neighbourhoods_table = """CREATE TABLE covid.neighbourhoods (
                area_id INTEGER PRIMARY KEY,
                area_name VARCHAR(50),
                land_area NUMERIC,
                population INTEGER,
                number_of_dwellings INTEGER,
                number_of_businesses INTEGER,
                median_annual_household_income INTEGER,
                avg_monthly_rent INTEGER
            );"""

census_stats_table = """CREATE TABLE covid.census_stats (
                area_id INTEGER PRIMARY KEY, 
                median_annual_household_income INTEGER,
                avg_monthly_rent INTEGER
            );"""

population_stats_2016_table = """CREATE TABLE covid.population_stats_2016 (
                area_id INTEGER PRIMARY KEY,
                area_name VARCHAR(50),
                age_0_to_4 INTEGER,
                age_5_to_9 INTEGER,
                age_10_to_14 INTEGER,
                age_15_to_19 INTEGER,
                age_20_to_24 INTEGER,
                age_25_to_29 INTEGER,
                age_30_to_34 INTEGER,
                age_35_to_39 INTEGER,
                age_40_to_44 INTEGER,
                age_45_to_49 INTEGER,
                age_50_to_54 INTEGER,
                age_55_to_59 INTEGER,
                age_60_to_64 INTEGER,
                age_65_to_69 INTEGER,
                age_70_to_74 INTEGER,
                age_75_to_79 INTEGER,
                age_80_to_84 INTEGER,
                age_85_and_over INTEGER,
                total_persons INTEGER,
                females INTEGER,
                males INTEGER
            );"""

health_services_table = """CREATE TABLE covid.heath_services (
                id INTEGER PRIMARY KEY,
                name VARCHAR(50),
                category VARCHAR(50),
                num_beds INTEGER,
                address VARCHAR(100),
                suburb VARCHAR(50),
                state VARCHAR(4),
                postcode CHAR(4),
                longitude NUMERIC,
                latitude NUMERIC,
                comment VARCHAR(2300),
                website VARCHAR(150)
            );"""

nsw_postcodes_table = """CREATE TABLE covid.nsw_postcodes (
                id INTEGER PRIMARY KEY,
                postcode INTEGER,
                locality VARCHAR(50),
                longitude NUMERIC,
                latitude NUMERIC
            );"""

nsw_testsites_table = """CREATE TABLE covid.nsw_testsites (
                site_id INTEGER PRIMARY KEY,
                Centre_name VARCHAR(70) ,
                Phone_number VARCHAR(70),
                Opening_hours VARCHAR(80),
                longitude NUMERIC,
                latitude NUMERIC,
                test_capacity INTEGER
            );"""

# DO NOT EXECUTE THIS CODE - the tables have already been created in the database
# conn.execute(statistical_areas_table)
# conn.execute(neighbourhoods_table)
# conn.execute(census_stats_table)
# conn.execute(population_stats_2016_table)
# conn.execute(health_services_table)
# conn.execute(nsw_testsites_table)

### Loading data and inserting them into tables

In [9]:
import pandas as pd

conn.execute("SET SCHEMA 'covid'")
conn.execute("SET search_path TO covid")

statistical_areas_data = pd.read_csv("StatisticalAreas.csv")
statistical_areas_data.to_sql("statistical_areas", con=conn, if_exists='replace')

InvalidRequestError: Could not reflect: requested table(s) not available in Engine(postgres+psycopg2://y20s1d2x01_mngu3698:***@soitpw11d59.shared.sydney.edu.au/y20s1d2x01_mngu3698): (statistical_areas)

In [8]:
pd.read_sql_query("SELECT * FROM statistical_areas", conn)

Empty DataFrame
Columns: [area_id, area_name, parent_area_id]
Index: []

## Closing Connection

In [10]:
conn.close()
db.dispose()