# Assignment

## Connecting to Database

In [ ]:
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras

# Useful functions

def pgconnect():
    # please replace <your_unikey> and <your_SID> with your own details
    YOUR_UNIKEY = 'mngu3698'
    YOUR_PW     = '490503902'
    DB_LOGIN    = 'y20s1d2x01_'+ YOUR_UNIKEY

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+'y20s1d2x01_mngu3698', echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

def pgquery( conn, sqlcmd, args=None, silent=False ):
    """ utility function to execute some SQL query statement
    can take optional arguments to fill in (dictionary)
    will print out on screen the result set of the query
    error and transaction handling built-in """
    retdf = pd.DataFrame()
    retval = False
    try:
        if args is None:
            retdf = pd.read_sql_query(sqlcmd,conn)
        else:
            retdf = pd.read_sql_query(sqlcmd,conn,params=args)
        if silent == False:
            print(retdf.shape)
            print(retdf.to_string())
        retval = True
    except Exception as e:
        if silent == False:
            print("db read error: ")
            print(e)
    return retval,retdf

In [ ]:
# Connecting to database
db,conn = pgconnect()

## Task 1: Data Integration and Database Generation

### Creating Tables

In [ ]:
statistical_areas_table = """CREATE TABLE statistical_areas (
                area_id INTEGER PRIMARY KEY,
                area_name VARCHAR(50) , 
                parent_area_id INTEGER
            );"""

neighbourhoods_table = """CREATE TABLE neighbourhoods (
                area_id INTEGER PRIMARY KEY,
                area_name VARCHAR(50),
                land_area NUMERIC,
                population INTEGER,
                number_of_dwellings INTEGER,
                number_of_businesses INTEGER,
                median_annual_household_income INTEGER,
                avg_monthly_rent INTEGER
            );"""

census_stats_table = """CREATE TABLE census_stats (
                area_id INTEGER PRIMARY KEY, 
                median_annual_household_income INTEGER,
                avg_monthly_rent INTEGER
            );"""

population_stats_2016_table = """CREATE TABLE population_stats_2016 (
                area_id INTEGER PRIMARY KEY,
                area_name VARCHAR(50),
                age_0_to_4 INTEGER,
                age_5_to_9 INTEGER,
                age_10_to_14 INTEGER,
                age_15_to_19 INTEGER,
                age_20_to_24 INTEGER,
                age_25_to_29 INTEGER,
                age_30_to_34 INTEGER,
                age_35_to_39 INTEGER,
                age_40_to_44 INTEGER,
                age_45_to_49 INTEGER,
                age_50_to_54 INTEGER,
                age_55_to_59 INTEGER,
                age_60_to_64 INTEGER,
                age_65_to_69 INTEGER,
                age_70_to_74 INTEGER,
                age_75_to_79 INTEGER,
                age_80_to_84 INTEGER,
                age_85_and_over INTEGER,
                total_persons INTEGER,
                females INTEGER,
                males INTEGER
            );"""

health_services_table = """CREATE TABLE health_services (
                id INTEGER PRIMARY KEY,
                name VARCHAR(100),
                category VARCHAR(50),
                num_beds INTEGER,
                address VARCHAR(100),
                suburb VARCHAR(50),
                state VARCHAR(4),
                postcode CHAR(4),
                longitude NUMERIC,
                latitude NUMERIC,
                comment VARCHAR(2300),
                website VARCHAR(150)
            );"""

nsw_postcodes_table = """CREATE TABLE nsw_postcodes (
                id INTEGER PRIMARY KEY,
                postcode INTEGER,
                locality VARCHAR(50),
                longitude NUMERIC,
                latitude NUMERIC
            );"""

nsw_testsites_table = """CREATE TABLE nsw_testsites (
                site_id INTEGER PRIMARY KEY,
                Centre_name VARCHAR(70) ,
                Phone_number VARCHAR(70),
                Opening_hours VARCHAR(80),
                longitude NUMERIC,
                latitude NUMERIC,
                test_capacity INTEGER
            );"""

# DO NOT EXECUTE THIS CODE - the tables have already been created in the database
# conn.execute("SET search_path to covid")
# conn.execute(statistical_areas_table)
# conn.execute(neighbourhoods_table)
# conn.execute(census_stats_table)
# conn.execute(population_stats_2016_table)
# conn.execute(health_services_table)
# conn.execute(nsw_testsites_table)

### Loading data and inserting them into tables

In [ ]:
import pandas as pd

# DO NOT EXECUTE THIS CODE - the data has already been loaded into the database
# conn.execute("SET search_path to covid")

# statistical_areas_data = pd.read_csv("StatisticalAreas.csv")
# for index, row in statistical_areas_data.iterrows():
#     conn.execute("INSERT INTO statistical_areas VALUES (%s, %s, %s)", (row[0], row[1], row[2]))

# covid19_nsw_testsites_simulated_capacity_data = pd.read_csv("covid19_nsw_testsites_simulated_capacity.csv")
# for index, row in covid19_nsw_testsites_simulated_capacity_data.iterrows():
#     conn.execute("INSERT INTO nsw_testsites VALUES (%s, %s, %s, %s, %s, %s, %s)", (row[0], row[1], row[2], row[3], row[4], row[5], row[6]))

# nsw_postcodes_data = pd.read_csv("NSW_Postcodes.csv")
# for index, row in nsw_postcodes_data.iterrows():
#     conn.execute("INSERT INTO nsw_postcodes VALUES (%s, %s, %s, %s, %s)", (row[0], row[1], row[2], row[3], row[4]))

# population_stats_2016_data = pd.read_csv("PopulationStats2016.csv")
# for index, row in population_stats_2016_data.iterrows():
#     # oh my god
#     row_tuple = (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10], row[11], row[12], row[13], row[14], row[15], row[16], row[17], row[18], row[19], row[20], row[21], row[22])
#     conn.execute("INSERT INTO population_stats_2016 VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", row_tuple)

# neighbourhoods_data = pd.read_csv("Neighbourhoods.csv")
# for index, row in neighbourhoods_data.iterrows():
#     if str(row[2]) == "nan":
#         row[2] = None
#     if str(row[3]) == "nan":
#         row[3] = None
#     if str(row[4]) == "nan":
#         row[4] = None
#     if str(row[5]) == "nan":
#         row[5] = None
#     if str(row[6]) == "nan":
#         row[6] = None
#     if str(row[7]) == "nan":
#         row[7] = None
#     conn.execute("INSERT INTO neighbourhoods VALUES (%s, %s, %s, %s, %s, %s, %s, %s)", (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7]))

# census_stats_data = pd.read_csv("CensusStats.csv")
# for index, row in census_stats_data.iterrows():
#     if str(row[1]) == "nan" and str(row[2]) != "nan":
#         conn.execute("INSERT INTO census_stats VALUES (%s, %s, %s)", (row[0], None, row[2]))
#         continue
#     if str(row[2]) == "nan" and str(row[1]) != "nan":
#         conn.execute("INSERT INTO census_stats VALUES (%s, %s, %s)", (row[0], row[1], None))
#         continue
#     if str(row[2]) == "nan" and str(row[1]) == "nan":
#         conn.execute("INSERT INTO census_stats VALUES (%s, %s, %s)", (row[0], None, None))
#         continue
#     conn.execute("INSERT INTO census_stats VALUES (%s, %s, %s)", (row[0], row[1], row[2]))

# health_services_data = pd.read_csv("HealthServices.csv")
# for index, row in health_services_data.iterrows():
#     if str(row[3]) == "nan":
#         row[3] = None
#     conn.execute("INSERT INTO health_services VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)", (row[0], row[1], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[9], row[10]))

## Closing Connection

In [ ]:
conn.close()
db.dispose()